@media (min-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-areas: "logo nav nav" " contenido contenido contenido" "footer footer footer";
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: 150px 1fr 400 px; }
  .logo {
    grid-area: logo; }
  .nav {
    grid-area: nav; }
  .encabezado {
    grid-area: encabezado; }
  footer {
    grid-area: footer; } }

li {
  padding: 20px; }
  li a {
    color: red; }
    li a:hoover {
      background-color: lightblue; }

.contenido {
  background-color: lightblue;
  text-align: center;
  font-type: new roman; }

footer {
  background-color: blue;
  display: flex; }
  footer h3, footer h4, footer .h5 {
    color: white; }

h3, h4, .h5 {
  width: 700px;
  border: 1px solid black;
  color: blue;
  text-align: center; }

.logo {
  height: 90px;
  width: 90px; }

.logo1 {
  height: 100px;
  width: 100px; }
