


$estilo: (
  color: lightblue,
  centro: center,
  tFuente: 40px,
  padding: 1rem,
  font-type: new roman,

);

.contenido {
	
	background-color: map-get($estilo, color);
	text-align: map-get($estilo, centro);
	font-type:  map-get($estilo, font-type);
}
